[Desktop Entry]
Name=WKDump Application
Exec=gnome-terminal -- /bin/bash -c "wibrfake --help; exec bash"
Type=Application
MimeType=application/x-wkdump;
