/* CSS Document */
* {
	background-color: #FFFFFF;
}
body {
	margin: 0;
	background-color: #E5E6FC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */
#header {
	position: relative;
	height: 100px;
	border-bottom: 3px solid #FF0000;
	background-color: #FFFFFF;
}

#header #logo_etecsa {
	position: absolute;
	top: 0;
	right: 0;
        width: 25%;
        height:100px;
}

#contenedor {
	position: relative;
	background-color: #E5E6FC;
	/*background-image: url(../images/contenedor_bg.jpg);*/
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 90px;
}

#contenedor #bg {
	position: absolute;
	top: 0;
	left: 0;
	
}

ul#menu_lang {
	position: absolute;
	width: 250px;
	top: 0px;
	right: 12px;
	margin: 0;
	padding: 0;
}

#menu_lang li {
	list-style: none;
	float: left;
	margin-right: 8px;
	background-color: #999CCD;
	color: #FFFFFF;
	padding: 8px 14px 8px 14px;
	border-radius: 0 0 6px 6px;
}

#menu_lang li a {
	color: #FFFFFF;
	text-decoration: none;
}

#menu_lang li.sel {
	background-color: #11188D;
	font-weight: bold;
}

#int {
	width: 600px;
	margin: 0 auto;
	z-index: 2;
}

.blq {
	border-radius: 6px;
	background-color: #FFFFFF;
}

.blq .title {
	background-color: #11188D;
	padding: 4px 0 4px 20px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 6px 6px 0 0;
}

.blq .blq_int {
	border-radius: 0 0 6px 6px;
}

.vnc a {
	margin-right: 12px;
}

.keyinfo {
	font-weight: bold;
	font-size: 16px;
}

.datainfo{
	font-size: 16px;
}



table#sesiontraza{
	width: 100%;
	
}
table#sesiontraza th {
	color: white;
	background-color: #11188D;
	text-align: center;
}

table#sesiontraza caption{
	font-weight: bold;
}

table#sesiontraza td{
	
	font-size: 16px;
	text-align: right;
}

table#sessioninfo td.key{
	font-weight: bold;
}

table#logout td{
	
    text-align: left;
	/*font-weight: bold;*/
	
}
table#logout td.key{
	
	text-align: right;
	font-weight: bold;
	
}

ol.condiciones li{
	margin-bottom: 10px;
}

a.red{
    color: red;
}

/* CSS Document */

/* FORMULARIOS */
.form label,.form input,.form textarea,.form select {
	display: block;
	float: left;
	margin: 2px;
	margin-bottom: 10px;
}

.form option {
	padding-right: 12px;
}

.form label {
	text-align: right;
	width: 160px;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 6px;
}

form {
	margin-top: 12px;
	margin-bottom: 12px;
}

label.error {
	clear: both;
	color: #FF0000;
	font-weight: normal;
}

input.error,textarea.error,select.error {
	border: 1px solid #FF0000;
}

.clearfloat {
	clear: both;
	font-size: 1px;
	line-height: 0;
	margin: 0;
}

.btn {
	background-color: #11188D;
	border-radius: 6px;
	padding: 4px 12px 4px 12px;
	color: #FFFFFF;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	text-align: end;
	margin-left: 10px; /* Added margin to shift buttons to the left */
}

form input.cred {
	width: 250px;
/* FIN FORMULARIOS */

/* MESSAGES BOX*/

.info, .success, .warning, .error, .validation, .info-white {
    /*border: 1px solid;*/
    margin: 10px 0px;
    padding:20px 10px 20px 63px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/icon-info.html');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.html');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.html');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/icon-error.html');
}

.info-white {
    color: black;
    background-color: #FFF;
    background-image: url('../images/icon-info.html');
}

.error a.red{
    color: #D8000C;
}

.info a.red{
    color: #00529B;
}

#banner_promos {
    margin-top:40px;
}
